<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<form [formGroup]="formDoc" (ngSubmit)="onSubmit(formDoc)" novalidate>
  <mat-form-field>
    <ngx-mat-file-input
      formControlName="basicFile"
      (change)="onSelectFile($event)"
      placeholder="Please, choose text file to upload..." >
    </ngx-mat-file-input>
    <mat-icon matSuffix>folder</mat-icon>
  </mat-form-field>
</form>

<p>{{text}}</p>
