<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit(form)" novalidate>
  <mat-form-field [ngStyle]="{'display': fileInputDisplay}">
    <ngx-mat-file-input
      formControlName="file"
      (change)="onSelectFile($event)"
      placeholder="Please, choose text file to upload...">
    </ngx-mat-file-input>
    <mat-icon matSuffix>folder</mat-icon>
  </mat-form-field>
</form>

<p id="tekst">{{text}}</p>
